<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
        <span class="site-subtitle"> {{ site.user_description }}</span>
        <span class="site-details">{{ site.user_details }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:katebi@me.com"><i class="icon fa fa-envelope-o"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/katebi"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/shaahin"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/ShahinKatebi"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Old Website" href="https://blog.shaahin.us" target="_blank"><i class="icon fa fa-square-o"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
</div>
